/target
/src/state/working_files
/.vscode
/external/qemu-mount/dumps
/external/qemu-cloudimg/jammy-server-cloudimg-amd64.img
/execution_log.txt
/qemu_output.log
/xref_addresses.txt 
/home/kgorna/Documents/tests/zorya/external/qemu-mount/cpu_mapping.txt
/home/kgorna/Documents/tests/zorya/external/qemu-mount/dump_commands.txt
/home/kgorna/Documents/tests/zorya/external/qemu-mount/memory_mapping.txt